* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'FactCondensedMedium';
    src: url('/Fact Deck-67 Condensed Medium.otf') format('opentype');
}
@font-face {
    font-family: 'FactCondensedBold';
    src: url('/Fact Deck-77 Condensed Bold.otf') format('opentype');
}
@font-face {
    font-family: 'KipCondensedRegular';
    src: url('/Kippenberger-57 Condensed Regular.otf') format('opentype');
}
@font-face {
    font-family: 'KipBold';
    src: url('/Kippenberger-75 Bold.otf') format('opentype');
}
@font-face {
    font-family: 'KipCondensedBold';
    src: url('/Kippenberger-77 Condensed Bold.otf') format('opentype');
}